<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 网页顶部栏 -->
<div th:fragment="banner">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="" href="index.html">
			<span class="navbar-brand" style="margin-right: 40px; font-size: 18px">
			<span class="fa fa-paper-plane"></span> 系统安全服务</span>
            </a>
        </div>

        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/itscy/page/system}" style="font-size: 18px">安全服务</a></li>
                <li><a th:href="@{/itscy/page/system/create}" style="font-size: 18px">新建系统</a></li>
                <li><a th:href="@{/itscy/page/report}" style="font-size: 18px">系统检测统计</a></li>
            </ul>

            <ul id="main-menu" class="nav navbar-nav navbar-right">
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small"
                          style="position: relative; top: 3px;"></span>
                        欢迎使用
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>