<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="common/loadcss :: commonCss('系统安全服务')"></header>

<head>
    <style type="text/css">
        .div_table {
            margin-left: 15px;
        }

        .div_btn {
            margin-top: 20px;
        }

        .table {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: left;
        }

        i {
            cursor: pointer;
        }
    </style>
</head>
<body class="theme-blue">

<div th:include="common/head :: banner"></div>

<div class="div_table">

    <a class="btn btn-primary div_btn" th:href="@{/itscy/page/system/create}">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;新建系统</a>
    &nbsp;&nbsp;

    <a class="btn btn-primary div_btn" th:href="@{/itscy/page/report}" target="_blank">
        <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;系统检测统计</a>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th width="12%">系统名称</th>
                <th width="8%">所属计划</th>
                <th width="10%">内网IP</th>
                <th width="10%">外网IP</th>
                <th width="10%">框架版本</th>
                <th width="8%">联系人</th>
                <th width="8%">当前状态</th>
                <th width="10%">情况</th>

                <th width="11%">修改时间</th>
                <th width="13%">操作</th>
            </tr>
            <tbody style="text-align: left">
            <tr th:each="system : ${systemVo}">
                <td>
                    <a th:href="@{'/itscy/page/system/' + ${system.systemId}}" th:text="${system.name}"
                       target="_blank"></a>
                </td>
                <td th:text="${system.project}"></td>
                <td th:text="${system.localIp}"></td>
                <td th:text="${system.interIp}"></td>
                <td th:text="${system.frameworkVer}"></td>
                <td th:text="${system.linker}"></td>
                <td th:text="${system.state}"></td>
                <td th:text="${system.info}"></td>

                <td th:text="${#calendars.format(system.scanCreateTime,'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <i class="fa fa-edit" th:onclick="'updateSystemForm(\''+ ${system.systemId} + '\')'">&nbsp;修改</i>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-plus-circle"
                       th:onclick="'createScanForm(\''+${system.systemId}+'\')'">&nbsp;添加状态</i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="reFlag" value="0"/>

<div th:include="common/loadjs :: loadjs"></div>

<script type="text/javascript">
    function updateSystemForm(systemId) {
        layer.open({
            type: 2,
            title: '修改系统信息',
            skin: 'layui-layer-lan',
            area: ['770px', '450px'],
            // 这里采用相对路径的方式访问页面，其前缀是network/itscy/page/。no代表：不出现滚动条
            content: ['system/' + systemId + '/update', 'no'],
            end: function () { // 还是改成ajax刷新体验最好
                refresh();
            }
        });
    }

    function createScanForm(systemId) {
        layer.open({
            type: 2,
            title: '添加状态',
            skin: 'layui-layer-lan',
            area: ['770px', '450px'],
            content: [systemId + '/scan/create', 'no'],
            end: function () {
                refresh();
            }
        });
    }

</script>
</body>
</html>