<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:include="common/loadcss :: commonCss('更新系统信息')"></header>
<head>
    <style type="text/css">
        .row {
            margin-top: 20px;
            margin-right: 0;
        }
    </style>
</head>
<body>
<form id="postForm" class="form-horizontal" method="post">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">系统编号</label>
                <div class="col-sm-8">
                    <input id="systemId" name="systemId" th:value="${webSystem.systemId}" type="text"
                           readonly="readonly" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">系统名称</label>
                <div class="col-sm-8">
                    <input id="name" name="name" th:value="${webSystem.name}" type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">所属计划</label>
                <div class="col-sm-8">
                    <input id="project" name="project" type="text" class="form-control"
                           th:value="${webSystem.project}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">联系人</label>
                <div class="col-sm-8">
                    <input id="linker" name="linker" type="text" class="form-control"
                           th:value="${webSystem.linker}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">申请时间</label>
                <div class="col-sm-8">
                    <input id="createTime" name="createTime" type="text" class="form-control"
                           th:value="${#calendars.format(webSystem.createTime,'yyyy-MM-dd HH:mm')}"
                           readonly="readonly"
                           onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">框架版本</label>
                <div class="col-sm-8">
                    <input id="frameworkVer" name="frameworkVer" th:value="${webSystem.frameworkVer}" type="text"
                           class="form-control"/>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">内网IP</label>
                <div class="col-sm-8">
                    <input id="localIp" name="localIp" th:value="${webSystem.localIp}" type="text"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">公网IP</label>
                <div class="col-sm-8">
                    <input id="interIp" name="interIp" type="text" class="form-control"
                           th:value="${webSystem.interIp}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">数据库</label>
                <div class="col-sm-8">
                    <input id="databaseVer" name="databaseVer" type="text" class="form-control"
                           th:value="${webSystem.databaseVer}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">中间件</label>
                <div class="col-sm-8">
                    <input id="middlewareVer" name="middlewareVer" type="text" class="form-control"
                           th:value="${webSystem.middlewareVer}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">网络类型</label>
                <div class="col-sm-8">
                    <select name="netType" id="netType" class="form-control" data-th-action="${webSystem.netType}">
                        <option value="业务网">业务网</option>
                        <option value="工作网">工作网</option>
                        <option value="单机">单机</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">服务类型</label>
                <div class="col-sm-8">
                    <select id="scanType" name="scanType" class="form-control" data-th-action="${webSystem.scanType}">
                        <option value="深度渗透测试">深度渗透测试</option>
                        <option value="操作系统加固">操作系统加固</option>
                        <option value="数据库加固">数据库加固</option>
                        <option value="常规渗透测试">常规渗透测试</option>
                        <option value="主机安全检查">主机安全检查</option>
                        <option value="代码审计">代码审计</option>
                        <option value="应急响应">应急响应</option>
                        <option value="日志分析">日志分析</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-sm-6">
        <div class="form-group">
            <div class="col-sm-6" style="margin-left: 300px">
                <button type="button" class="btn btn-default" onclick="closeLayer('0')">取 消</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">保 存</button>
            </div>
        </div>
    </div>
</form>

<input type="hidden" id="systemId" name="systemId" th:value="${webSystem.systemId}"/>

<div th:include="common/loadjs :: loadjs"></div>

<script type="text/javascript">
    $(function () {
        var action = $("#netType").attr('action');
        $("#netType").find("option[value='" + action + "']").prop('selected', true);

        action = $("#scanType").attr('action');
        $("#scanType").find("option[value='" + action + "']").prop('selected', true);

        var options = {
            url: getRootPath() + '/itscy/system/' + $("#systemId").val(),
            type: 'post',
            dataType: 'json',
            iframe: true,
            success: function (result) {
                showAjaxResult(result);
            },
            error: function (data) {
                showError('');
            }
        };

        $('#postForm').ajaxForm(options);
    });
</script>
</body>
</html>